$white: #ffffff;
$yellow: #fcc521;
$yellow-dark: #fab619;
$black: #333;
$blue: #3d7ab6;
$blue-light: #e4ebf3;
$blue-lighter: #ecf1f7;
$gray: #959ba4;
$gray-light: #f5f5f6;

$colors: (
  black: $black,
  white: $white,
  transparent: transparent,
  yellow: $yellow,
  yellow-dark: $yellow-dark,
  blue: $blue,
  blue-light: $blue-light,
  blue-lighter: $blue-lighter,
  gray: $gray,
  gray-light: $gray-light
);

@each $name,
$color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}