@import "_colors";

.top-line {
  height: 48px;
  display: flex;
  align-items: center;
}
.navbar {
  background-color: $white;
  box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
  margin-bottom: 32px;
  padding: 0;
  .nav-item {
    height: 56px;
    position: relative;
    padding-right: 24px;
    .nav-link {
      color: $gray;
      color: #959ba4;
      padding: 0;
      display: block;
      height: inherit;
      line-height: 51px;
      
    }
    &::after {
      content: "";
      position: absolute;
      right: 24px;  
      bottom: 0;
      left: 0;
      height: 2px;
    }
    &:hover {
      .nav-link {
        color: $black;
      }
      &::after {
        background-color: $gray;
      }
    }
    &.active {
      .nav-link {
        color: $black;
      }
      &::after {
        background-color: $yellow;
      }
    }

  }
}