@import "_colors";

.lot-item {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background-color: $white;
  .status {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.8);
    z-index: 0;
    opacity: 0;
    transition: all .2s linear;
  }
  .lot-title {
    word-wrap: break-word;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.3px;
  }
  .lot-currency {
    font-weight: 500;
    line-height: 58px;
    width: 58px;
    background-color: $gray-light;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    color: $gray;
    &.status-2 {
      color: $white;
      background-color: #e07a7a;
    }
  }
}

.lots {
  margin-bottom: 50px;
  .form-container {
    position: relative;

    .form-content {
      background-color: $gray-light;
      position: relative;
      border-radius: 8px;
      z-index: 3;
      padding: 30px;

      .form-title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 20px;
      }

      .custom-input {
        position: relative;
        background-color: $white;
        border-radius: 5px;

        .placeholder {
          position: absolute;
          height: 24px;
          left: 15px;
          top: calc(50% - 12px);
          transition: all .2s linear;
          z-index: 4;
        }

        input {
          background-color: transparent;
          border: none;

          padding: 20px 15px 10px;
          width: 100%;
          position: relative;
          z-index: 5;

          &:focus {
            outline: 0;

            &+.placeholder {
              top: 3px !important;
              font-size: 12px !important;
              opacity: .6 !important;
            }
          }
        }

        &.not-empty {
          .placeholder {
            top: 3px;
            font-size: 12px;
            opacity: .6;
          }
        }
      }

      .btn-currency {
        background-color: $white;
        padding: 14px 10px;
        cursor: pointer;

        &.active {
          background-color: $yellow;
        }
      }
    }

    &:after {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      right: 20px;
      bottom: -16px;
      left: 20px;
      z-index: 2;
      background: linear-gradient(to left, #4d5869, #707c92);
      opacity: .8;
    }

    &:before {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      right: 40px;
      bottom: -32px;
      left: 40px;
      z-index: 1;
      background: linear-gradient(45deg, #AF8674 0%, #E3AA90 100%);
    }
  }
}