@import "_colors";

body,html {
  font-family: pfhighway,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  color: $black;
}

.btn {
  border-radius: 4px;
  padding: 9px 23px 7px;
  border: none;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 24px;
  &.bg-yellow {
    &:hover {
      background-color: $yellow-dark;
    }
  }
  &.bg-blue-lighter {
    &:hover {
      background-color: $blue-light;
      color: $blue;
    }
  }
  &.btn-lg {
    padding: 15px 35px 14px;
  }
  &:focus, &.focus {
    outline: 0;
    box-shadow: none;
  }
}